<!DOCTYPE html>
<html>
  <head>
    <title>DNS Information</title>
  </head>
  <body>
    <h1>DNS Information</h1>
    <p>Domain: is404.net</p>
    <h2>Records</h2>
    <a href="/create">Create new record</a>
    <p>
      You can search for a record here. You must include the full domain name
      (e.g., example.is404.net).
    </p>
    <form action="" method="get">
      <input type="text" name="q" placeholder="Search..." />
      <button type="submit">Search</button>
    </form>

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Content</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for record in dns_records %} {% if record.type != 'TXT' %}
        <tr>
          <td>{{ record.name }}</td>
          <td>{{ record.type }}</td>
          <td>{{ record.content }}</td>
          <td><a href="{{ record.edit_url }}">Edit</a></td>
          <td><a href="{{ record.delete_url }}">DELETE</a></td>
        </tr>
        {% endif %} {% endfor %}
      </tbody>
    </table>
    <!-- BEGIN: pagination -->
    {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
    {% endif %}
    <span class="current-page">{{ page_obj.number }}</span>
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">next</a>
    {% endif %}
    <!-- END: pagination -->
  </body>
</html>
