<!-- FILEPATH: /Users/ryan/code/cloudflare-frontend/templates/edit.html -->

{% extends 'base.html' %} {% block content %}
<h1>Edit DNS Record</h1>
<p>
  To create a new DNS record, you must enter the following information:
  <ul>
    <li>The name of the record, including the full domain name (e.g., example.is404.net)</li>
    <li>The type of record (e.g., A, CNAME, MX, TXT)</li>
    <li>The content of the record (e.g., the IP address for an A record, or the target for a CNAME record)</li>
    <li>The TTL (time to live) for the record (e.g., 1, 120, 3600). You can leave this at the default of 1.</li>
  </ul>
</p>
<form method="POST">
  <label for="name">Name:</label>
  <input type="text" name="name" value="" /><br />
  <label for="type">Type:</label>
  <select name="type">
    <option value="A">A</option>
    <option value="CNAME">CNAME</option>
    <option value="MX">MX</option>
    <option value="TXT">TXT</option></select
  ><br />
  <label for="content">Content:</label>
  <input type="text" name="content" value="" /><br />
  <label for="ttl">TTL:</label>
  <input type="text" name="ttl" value="1" /><br />
  <input type="submit" value="Save" />
</form>
{% endblock %}
